#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 0;
}
.container {
  background: #222222;
  border-radius: 15px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 80px 80px;
  margin: 100px 160px;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  margin: 0;
}
.task-wrapper {
  background: #424242;
  gap: 35px;
  padding: 30px 20px;
  border-radius: 12px;
  color: white;
  font-size: 17px;
  margin-bottom: 35px;
}
.task-wrapper-done {
  background: #5c5c5c;
  gap: 35px;
  padding: 30px 20px;
  border-radius: 12px;
  color: white;
  font-size: 17px;
  margin-bottom: 35px;
}
.task-container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-delete {
  color: white;
  padding: 15px 20px;
  border-radius: 15px;
  width: 10%;
}
.button-delete:hover {
  background: #333333;
}
.task-wrapper-detail {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 70px;
}
.button-input-img {
  align-items: center;
  max-width: 50px;
  display: flex;
  border-radius: 15px;
}
.button-input-img:hover {
  background: #333333;
}
